[package]
name = "rebound"
version = "0.0.1"
description = "Full runtime reflection for Rust, with lifetime safety"
keywords = ["reflection", "reflect", "no_std"]
repository = "https://github.com/CraftSpider/rebound"
documentation = "https://docs.rs/rebound"
authors = ["Rune Tynan <runetynan@gmail.com>"]
readme = "README.md"
license = "MIT/Apache-2.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
default = ["std"]

std = []
never-type = []

[dependencies]
rebound-proc = { path = "./rebound-proc", version = "0.0.1" }
ctor = "^0.1"
paste = "^1.0"
hashbrown = "^0.9"

[dev-dependencies]
trybuild = "^1.0"
